%p== Zadana formuła logiczna to #{@formula}

%img{ :src => "images/formula.png"}

%p Gałęzie:
- @br.each do |var|
	- if var[-1] == 'g'
		%p{:style => "color:green"}=var.take(var.length-1)
	- else
		%p{:style => "color:red"}=var.take(var.length-1)
	